  html, body {
    height: 100%;
    margin: 0;
    background-color: #f2f2f2;
  }
  .roundrect {
    border-radius: 25px;
    background: #36a4ff;
    padding: 20px;
    text-align: center;
    font-family: 'Orelega One';
    color: white;
    margin: 10px;
    font-size: 70px;

  }


  .page {
    height: 100%;
    width: 70%;
    margin:auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #rect1 {
    flex-grow: 1;
  }
  .flex-container {
    display: flex;
    justify-content: center;
  }

  @media (max-width: 1030px) {
    .flex-container {
      flex-direction: column;
    }
    .roundrect {
    font-size: 50px;
    }
  }
  @media (max-width:570px) {
    .page {
      width: 100%;
    }

  }
