  html, body {
    height: 100%;
    margin: 0; 
    background: rgb(238,238,238);
    background: linear-gradient(135deg, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 100%);
  }
  .roundrect {
    border-radius: 25px;
    background: rgb(0,147,231);
background: linear-gradient(135deg, rgba(0,147,231,1) 0%, rgba(113,204,255,1) 100%);
    padding: 20px;
    text-align: center;
    font-family: 'Orelega One';
    color: white;
    margin: 10px;
    font-size: 70px;
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
  }
  .bigtext {
    margin: 0px;
  }
  .medtext {
    margin: 0px;
    font-size: 50px;
  }

  .page {
    height: 90%;
    border-radius: 25px;
    width: 70%;
    background-color: white;
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
    margin: 0;
    position: absolute;
    top: 5%;
    left: 15%;
  }

  #rect1 {
    flex-grow: 1;
  }
  .flex-container {
    display: flex;
    justify-content: center;
  }

  @media (max-width: 1030px) {
    .flex-container {
      flex-direction: column;
    }
    .roundrect {
    font-size: 50px;
    }
  }
  @media (max-width:570px) {
    .page {
      width: 100%;
    }

  }
